# LISTS

In [1]:
#creting a list : 
list = ['this ' , ' is ', 'a ', 'list ']
print(list)

['this ', ' is ', 'a ', 'list ']

In [7]:
#it can have any data type in it : 
list1 = ['aanchal' , 2000 , 20.20 ]
print(list1)

['aanchal', 2000, 20.2]

# CONCATENATE

In [8]:
list2 = list + list1
print(list2)

['this ', ' is ', 'a ', 'list ', 'aanchal', 2000, 20.2]

In [9]:
list3 = list + [1 , 2 , 3]
print(list3)

['this ', ' is ', 'a ', 'list ', 1, 2, 3]

# NESTED

In [10]:
list1 = [ 1,2, ['one', 'two'], 4 ]
print(list1)

[1, 2, ['one', 'two'], 4]

In [11]:
list1[2][0]

'one'

# LIST OPERATIONS

In [12]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [13]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [14]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, ['pop', 10], ['a', 'b']]

In [15]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [16]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [17]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [18]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

# COPY OR CLONE

In [19]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [20]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [21]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [22]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana