THIS IS MY FIRST JUPYTER NOTEBOOK FILE

In [1]:
print("hi aanchal asnani here , I am learning python and i will upload my progress on github regularly ")

hi aanchal asnani here , I am learning python and i will upload my progress on github regularly

DATA TYPES IN PYTHON

In [3]:
#int 
x = 10 
print(type(x))

<class 'int'>

In [4]:
#float 
x = 20.0
print(type(x))

<class 'float'>

In [5]:
#bool
x = True
print(type(x))

<class 'bool'>

In [6]:
#str
x = " this is aanchal "
print(type(x))

<class 'str'>

CASTING

In [8]:
# from int to float
type(float(10))

float

In [9]:
#from bool to int
type(int(True))

int

In [11]:
#from float to int
x = 10.4
print(int(x)) # while casting, here we will use some of our data

10

In [13]:
#from str to int and then bool
print(bool(int('1')))

True

EXPRESSIONS