# TUPLES

In [1]:
tuple = (1,2,3,4,5,6) #tuples are comma seperated values within parenthesis
print(tuple)
type(tuple)

(1, 2, 3, 4, 5, 6)

tuple

In [7]:
#tuple can consist int , float , str in it
tuple1 = ("string" , 10.0 , 5)
print(tuple1)

#after creating tuple1 typeS are
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

('string', 10.0, 5)
<class 'str'>
<class 'float'>
<class 'int'>

In [6]:
type(tuple1)

tuple

# INDEXING

In [8]:
tuple[-1]

6

In [9]:
tuple1[-1]

5

In [12]:
print(tuple[-2])
print(tuple1[-2])

5
10.0

In [13]:
tuple[0]

1

In [14]:
tuple1[0]

'string'

# SLICING

In [15]:
tuple[2:4]

(3, 4)

In [16]:
tuple1[1:3]

(10.0, 5)

In [17]:
tuple[-3:-1]

(4, 5)

In [19]:
tuple1[-3:-1]

('string', 10.0)

In [20]:
print(len(tuple))
print(len(tuple1))

6
3

# NESTED TUPLE

In [21]:
nest = (1,2,(3.1,3.2),4,5,((5.11,5.12),5.2,5.3),6,7,8)
print(nest)

(1, 2, (3.1, 3.2), 4, 5, ((5.11, 5.12), 5.2, 5.3), 6, 7, 8)

In [22]:
print("first element : ", nest[0])
print("second element : ", nest[1])
print("third element : ", nest[2])
print("fourth element : ", nest[3])
print("five element : ", nest[4])
print("sixth element : ", nest[5])
print("seven element : ", nest[6])
print("eighth element : ", nest[7])
print("ninth element : ", nest[8])

first element :  1
second element :  2
third element :  (3.1, 3.2)
fourth element :  4
five element :  5
sixth element :  ((5.11, 5.12), 5.2, 5.3)
seven element :  6
eighth element :  7
ninth element :  8

In [24]:
print(nest[2][1])

3.2

In [28]:
print(nest[5][0][1])

5.12