# STRINGS IN PYTHON

In [1]:
"THIS IS STRING"

'THIS IS STRING'

In [2]:
'this is also string in single quotation '

'this is also string in single quotation '

In [3]:
" special characters in string - !@#$%^&*"

' special characters in string - !@#$%^&*'

In [4]:
#print string using print

print("this is aanchal asnani learning and implementing strings" )

this is aanchal asnani learning and implementing strings

In [9]:
name = " aanchal asnani "
name

' aanchal asnani '

# INDEXING

In [10]:
print(name[0])

In [11]:
name

' aanchal asnani '

In [12]:
name[1]

'a'

In [14]:
#negative indexing

name[-2] # second last element of string # first last is blank space

'i'

In [16]:
#length of string 

len(name)

16

# SLICING

In [17]:
name = "aanchal asnani"

In [18]:
name[0::2] # starting from first element upto last by a gap of 1

'anhlann'

In [21]:
name[0:13] # for printing upto 13 index use 13+1 to be the upper range

'aanchal asnan'

In [20]:
name[0:14]

'aanchal asnani'

In [22]:
name[::4] #gap of 4

'ahan'

In [24]:
name[-1:-3] #negative indexing wrong way

''

In [27]:
name[-3 : -1] #right way 
#moving from most -ve to less -ve indexing

'an'

# CONCATENATION

In [33]:
first = "aanchal "
last = "asnani "

In [34]:
name = first + last
print(name)

aanchal asnani

In [35]:
name = last + first + "surname + first name"
name

'asnani aanchal surname + first name'

In [37]:
#replicating string
3*name

'asnani aanchal surname + first nameasnani aanchal surname + first nameasnani aanchal surname + first name'

In [38]:
name = " aanchal asnani "
name = name + " learning python "
print(name)

 aanchal asnani  learning python

# STRING OPERATIONS

In [41]:
#string to upper

name = name.upper()
name

' AANCHAL ASNANI  LEARNING PYTHON '

In [42]:
# Replace the old substring with the new target substring is the segment has been found in the string
name = " aanchal asnani is my name "
new_name = name.replace("name", " new name")
print(new_name)

 aanchal asnani is my  new name

In [44]:
#finding in  a string

name = "aanchal asnani"
name.find('as')

8

In [45]:
name.find('ab')

-1

In [46]:
#adding string 
a = '1'
b = '5'
c = a+b
print(c)

15