# SETS IN PYTHON

In [1]:
#create a set
set1 = {'aanchal' , 'asnani' , 'deepak' , 'asnani','vasudev' , 'asnani'}
print(set1)
#Python will automatically remove duplicate items:

{'deepak', 'asnani', 'vasudev', 'aanchal'}

In [3]:
set2 = {'aanchal' , 'asnani'}
print(set2)

{'asnani', 'aanchal'}

In [6]:
#converting list in set

L = ['day', 'month', 'year' , 'leap year']
print(L)
S = set(L)
print(S)

['day', 'month', 'year', 'leap year']
{'day', 'year', 'month', 'leap year'}

# SET OPERATIONS

In [7]:
#converting list in set

L = ['day', 'month', 'year' , 'leap year']
print(L)
S = set(L)
print(S)

['day', 'month', 'year', 'leap year']
{'day', 'year', 'month', 'leap year'}

In [9]:
S.add('date')
print(S)
#If we add the same element twice, nothing will happen as there can be no duplicates in a set
S.add('date')

{'date', 'year', 'day', 'leap year', 'month'}

In [10]:
#remove 
S.remove('year')

In [11]:
print(S)

{'date', 'day', 'leap year', 'month'}

In [12]:
#We can verify if an element is in the set using the in command

'date' in S

True

In [13]:
'year' in S

False

# LOGIC OPERATIONS

In [14]:
print(set1,set2)

{'deepak', 'asnani', 'vasudev', 'aanchal'} {'asnani', 'aanchal'}

In [15]:
#finding intersection : 
print(set1&set2)

{'aanchal', 'asnani'}

In [16]:
#finding difference in set1 and set2
set1.difference(set2)

{'deepak', 'vasudev'}

In [17]:
set2.difference(set1)

set()

In [18]:
#finding intersection 
set1.intersection(set2)

{'aanchal', 'asnani'}

In [19]:
#finding intersection 
set2.intersection(set1)

{'aanchal', 'asnani'}

In [20]:
print(set1,set2)

{'deepak', 'asnani', 'vasudev', 'aanchal'} {'asnani', 'aanchal'}

In [21]:
#finding union 

set1.union(set2)

{'aanchal', 'asnani', 'deepak', 'vasudev'}

In [22]:
#check if superset 

set(set1).issuperset(set2)

True

In [24]:
#check if subset 

set(set2).issubset(set1)

True